* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/pic02.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35 px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 20px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    position: fixed;
    top: 200px;
    right: 350px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 300px;
    height: 50px;
    padding: 15 px 0;
    text-align: center;
    margin: 50px 35px;
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid #c5ffe4;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-emphasis-color: #fff;
}

span {
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
